/* Google font outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* tailwindcss import */
@import "tailwindcss";

/* set font for all text in web */

/* adding scroll smooth for web */
html{
  scroll-behavior: smooth;
}
*{
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

/* adding class :dark prefix */
@custom-variant dark (&:where(.dark, .dark *));

